html {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: #046131;
  padding-bottom: 77px;
  height: auto;
  min-height: 100%;
  position: relative
}
.logo, .apresentacao{
  text-align: center;
}
.logo img {
  width: 80%;
  margin-top: 25%
}
.apresentacao img{
  width: 80%;
}
@media (max-width: 576px) {
  .logo img{
    margin-top: 0;
    width: 40%;
    margin-bottom: 2rem;
  }
  .apresentacao img{
    width: 100%;
    margin-bottom: 2rem;
  }
  .container, .container div{
    padding-left: 0;
    padding-right: 0;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 2rem;
  color: white;
  font-size: 30px;
}
.footer a{
  text-decoration: none;
  color: white;
}